.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}


.p {
    border: 1px solid blue;
    color: green;
    }
    .navbar-header {
    background-color: brown;
    background-image: none;
    }
    #menu {
    background-color: brown;
    background-image: none;
    }
    