<nav class="navbar navbar-expand-md navbar-dark navbar-header">
  <!-- container gives content bootstrap alignment -->

  <!-- navbar-header gives header -->
  <!-- navbar-toggle collapsed for hide the content -->
  <a class="navbar-brand" routerLink="/">Quiz App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    aria-expanded="false"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu" aria-expanded="false">
    <ul class="navbar-nav me-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tests" routerLinkActive="active"
            >Tests</a
          >
        </li>

        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>

    <div
      class="dropdown me-3"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <a
        class="dropdown-toggle text-light text-decoration-none ms-2"
        data-bs-toggle="dropdown"
        >Welcome {{ user.knownAs }}</a
      >
      <div class="dropdown-menu mt-3">
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
      *ngIf="!(accountService.currentUser$ | async)"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>
