<div class="row mx-2 mt-2" *ngIf="test">
  <div class="col-lg-9 d-flex mt-2 justify-content-center gx-2">
    <h5 class="col-sm-6">DMV Test:</h5>
    <h5 class="col-sm-3">
      {{ test.testStartTime | date : "MMM d, y" }}
    </h5>
    <h5 class="col-sm-3">Score: {{ test.score }} / {{ test.answeredNo }}</h5>
  </div>
  <div class="col-lg-3 justify-content-center d-flex" *ngIf="test.testEndTime">
    <button class="btn btn-primary me-1" (click)="viewTest()">View</button>
    <button class="btn btn-danger" (click)="deleteTest()">Delete</button>
  </div>
  <div
    class="col-lg-3 justify-content-center d-flex mt-2"
    *ngIf="!test.testEndTime"
  >
    <button class="btn btn-success me-1" (click)="viewTest()">Finish</button>
    <button class="btn btn-danger" (click)="deleteTest()">Delete</button>
  </div>
</div>
